<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>daniela massiceti // about</title>

<link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='twitter-bootstrap.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='tabby.ico')}}" >
<link rel="icon" href="{{ url_for('static', filename='tabby.ico')}}">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

<meta name="keywords" content="daniela massiceti, university of oxford, phd student, phil torr, torr vision group, computer vision, oxford">
<meta name="description" content="daniela massiceti // computer vision PhD student" />
<meta name="p:domain_verify" content="15f149f4e12ce0bf04ad541a6e0d8a62"/>

</head>

<body>
<div id="wrapper">
	<header id="top">
    <a href="http://za.linkedin.com/pub/daniela-massiceti/66/422/425" target=_blank><img id="linkedin" src="{{ url_for('static', filename='socialmediaicons/linkedin.png')}}" width="30" height="30" title="linkedin" alt="linkedin"/></a>
    <a href="mailto:daniela@robots.ox.ac.uk" target="_top"><img id="mail" src="{{ url_for('static', filename='socialmediaicons/mail_newcolour.png')}}" width="30" height="30" title="mail: daniela@robots.ox.ac.uk" alt="mail"/></a>
    <a href="https://www.twitter.com/DanniMassi/" target=_blank><img id="twitter" src="{{ url_for('static', filename='socialmediaicons/twitter.png')}}" width="30" height="30" title="twitter: @DanniMassi" alt="twitter"/></a>
  	</header>
   
  <div id="headerimg">
    <a href="{{ url_for('home') }}">
      <div class = "h">Daniela Massiceti</div>
    </a>
	  <div class ="subh">D.Phil Student in Computer Vision, University of Oxford </div>
  </div>
 	<hr id="tophr"> 
	<nav class="navigationbar">
    		<ul>
          <li><a class="normal" href="{{ url_for('home') }}" id=" ">home</a></li>
          <li><a class="normal" href="{{ url_for('about') }}" id="currentPage">about</a></li>
          <li><a class="normal" href="{{ url_for('research') }}" id=" ">research</a></li>
          <li><a href="{{ url_for('static', filename='')}}{{ cv }}" target=_blank id=" ">cv</a></li>
    		</ul>
  	</nav>
	<hr id="bottomhr">
  	<div id="mainbody">
  		<div class="side-by-side">
		<p> Hello people of the inter-webs! </p>
		<p> 	I am a doctoral student in the <span><a href="http://www.robots.ox.ac.uk/~tvg/" target=_blank>Torr Vision Group</a></span> at the University of Oxford under the supervision of <span><a href="http://www.robots.ox.ac.uk/~phst" target=_blank>Professor Philip Torr</a></span> and <span><a href="http://www.oxsight.co" target=_blank>Dr Stephen Hicks</a></span>.
			Prior to this, I completed a <i>M.Sc Neuroscience</i> at the University of Oxford, and before that a <i>B.Sc Electrical and Computer Engineering</i> at the University of Cape Town, South Africa.
		</p>
		<p>
			Broadly speaking, I am interested in multi-modal representations of the world and how these can be used by AI systems.	
			I am primarily exploring the combinations of vision and language in the context of vision-based dialogue models for human-computer interfaces. One of my central motivations for contextualising these dialogues in real-world visual scenarios is toward building AI-based assistive devices to help blind and visually-impaired people. 
			I have also dabbled in some other multi-modal combinations. Crossing vision with audio, I prototyped a device which created 3D soundscapes of virtual environments for audio-only spatial navigation!
		</p>
		<p>
			I am also a graduate member of <span><a href="http://www.pmb.ox.ac.uk/" target=_blank>Pembroke College</a></span> which is famed for being pink lightning at rowing regattas!
		</p>
  		</div>
      <div class="side-by-side"> <img id="me" src="{{ url_for('static', filename='about_photo.jpg') }}" width="335" style="padding-left: 43px;"/> </div>
  	</div>
  
  	<div id="footerwrapper">
		<div id="email"> daniela_at_robots.ox.ac.uk </div>
    <img src="{{ url_for('static', filename='robotgirl.png') }}" alt=""/>
	</div>
  </div>
</div>
</body>
</html>
