<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>daniela massiceti // about</title>

<link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='twitter-bootstrap.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='tabby.ico')}}" >
<link rel="icon" href="{{ url_for('static', filename='tabby.ico')}}">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

<meta name="keywords" content="{{ mykeywords }}"/>
<meta name="description" content="daniela massiceti" />
<meta name="p:domain_verify" content="15f149f4e12ce0bf04ad541a6e0d8a62"/>

</head>

<body>
<div id="wrapper">
	<header id="top">
    <a href="https://scholar.google.com/citations?user=-4fo-SwAAAAJ&hl=en" target=_blank><img id="googlescholar" src="{{ url_for('static', filename='socialmediaicons/gscholar.svg')}}" width="30" height="30" title="google scholar" alt="google scholar"/></a>
    <a href="http://za.linkedin.com/pub/daniela-massiceti/66/422/425" target=_blank><img id="linkedin" src="{{ url_for('static', filename='socialmediaicons/linkedin.png')}}" width="30" height="30" title="linkedin" alt="linkedin"/></a>
    <a href="mailto:daniela.massiceti@gmail.com" target="_top"><img id="mail" src="{{ url_for('static', filename='socialmediaicons/mail_newcolour.png')}}" width="30" height="30" title="mail: daniela.massiceti@gmail.com" alt="mail"/></a>
    <a href="https://www.twitter.com/DanniMassi/" target=_blank><img id="twitter" src="{{ url_for('static', filename='socialmediaicons/twitter.png')}}" width="30" height="30" title="twitter: @dannimassi" alt="twitter"/></a>
  </header>
   
  <div id="headerimg">
    <a href="{{ url_for('home') }}">
      <div class = "h">Daniela Massiceti</div>
    </a>
    <div class ="subh"> {{ jobtitle }} </div>
  </div>
  <hr id="tophr"> 
  <nav class="navigationbar">
    	<ul>
          <li><a class="normal" href="{{ url_for('home') }}" id=" ">home</a></li>
          <li><a class="normal" href="{{ url_for('about') }}" id="currentPage">about</a></li>
          <li><a class="normal" href="{{ url_for('research') }}" id=" ">research</a></li>
          <li><a href="{{ url_for('static', filename='')}}{{ cv }}" target=_blank id=" ">cv</a></li>
    	</ul>
  </nav>
  <hr id="bottomhr">
  <div id="mainbody">
  	<div class="side-by-side">
		<p> Hello people of the inter-webs! </p>
		<p> I am a machine learning researcher at <a href="https://www.microsoft.com/en-us/research/people/t-dmassi/" target="_blank">Microsoft Research (MSR) Cambridge</a>. My work explores how machine learning can help people with vision impairment. I am particularly interested in how models can be made more robust to real-world scenarios – for example, when only a small amount of training data is available, or the data are poor quality (e.g. blurry images, poor view points). Solving these challenges will enable us to build robust human-in-the-loop systems, where visually-impaired users can provide a small amount of training data themselves, and the system can then be personalised to their everyday interactions on-the-fly.</p>

		<p> Prior to joining MSR, I did my D.Phil in computer vision at the University of Oxford under <a href="https://www.robots.ox.ac.uk/~tvg" target="_blank">Prof. Philip Torr</a> and <a href="https://www.oxsight.co.uk" target="_blank">Dr Stephen Hicks</a>, my Masters in Neuroscience also at the University of Oxford, and my Bachelors in Electrical and Computer Engineering at the University of Cape Town. I am passionate about diversity and inclusion in machine learning, and am an organiser of the <a href="https://www.deeplearningindaba.com" target="_blank">Deep Learning Indaba</a>.
		</p>
  	</div>
      	<div class="side-by-side"> <img id="me" src="{{ url_for('static', filename='about_photo.jpg') }}" width="335"/> </div>
  	</div>
  
  <div id="footerwrapper">
	<div id="email"> daniela_dot_massiceti_at_gmail_dot_com </div>
  <img src="{{ url_for('static', filename='robotgirl.png') }}" alt=""/>
  </div>
  </div>
</div>
</body>
</html>
