<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>daniela massiceti // contact</title>

<link href="css/main.css" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="css/twitter-bootstrap.css" />
<link rel="shortcut icon" href="tabby.ico" type="image/x-icon">
<link rel="icon" href="tabby.ico" type="image/x-icon">

<script src="http://use.edgefonts.net/comfortaa:n4,n7,n3:default;source-sans-pro:n2:default.js" type="text/javascript"></script>

<meta name="keywords" content="daniela massiceti, university of oxford, phd student, phil torr, torr vision group, computer vision, oxford">
<meta name="description" content="daniela massiceti // computer vision PhD student" />
<meta name="p:domain_verify" content="15f149f4e12ce0bf04ad541a6e0d8a62"/>

</head>

<body>
<div id="wrapper">
  <header id="top">
  <a href="http://za.linkedin.com/pub/daniela-massiceti/66/422/425" target=_blank><img id="linkedin" src="Social%20Media%20Icons/linkedin.png" width="30" height="30" title="linkedin" alt="linkedin"/></a>
  <a href="mailto:daniela@robots.ox.ac.uk?Subject="email" target="_top"><img id="mail" src="Social%20Media%20Icons/mail_newcolour.png" width="30" height="30" title="mail" alt="mail"/></a>
  <a href="https://www.twitter.com/DanniMassi/" target=_blank><img id="twitter" src="Social%20Media%20Icons/twitter.png" width="30" height="30" title="twitter" alt="twitter"/></a>
  </header>
  
  <div id="headerimg"><a href="http://www.robots.ox.ac.uk/~daniela"><img src="header_correctsize.png" alt=""/></a></div>
  <hr id="tophr">
<nav id="mainnav">
    <ul>
      <li><a class="normal" href="index.html" id=" ">home</a></li>
      <li><a class="normal" href="about.html" id=" ">about</a></li>
      <li><a class="normal" href="research.html" id=" ">research</a></li>
      <li><a href="danielamassiceti_cv_sept2016.pdf" target=_blank id=" ">cv</a></li>
      <li><a class="normal" href="contact.html" id="currentPage">contact</a></li>
    </ul>
  </nav>
  <br><br>
   <hr id="bottomhr">
  <div id="mainbody">
  <h1>Contact</h1> 
	<div class="side-by-side">
    		<p>Pembroke College</p>
    		<p>St Aldates</p>
    		<p>Oxford, OX1 1DW</p>
    		<p>United Kingdom </p>
	</div>
	<div class="side-by-side">
		<p> i-am-not-a-robot@robots.ox.ac.uk (subtitute with first name) </p>
		<p> Twitter: <a href="https://www.twitter.com/DanniMassi/" target=_blank>@DanniMassi</a> </p>
		<p> LinkedIn: <a href="http://za.linkedin.com/pub/daniela-massiceti/66/422/425" target=_blank>Daniela Massiceti</a> </p>
	</div>
  </div>
  <div id="footerwrapper">
	<img src="robotgirl.png" alt=""/>
  </div>
  </div>
</div>

</body>
