<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>daniela massiceti</title>

<link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='twitter-bootstrap.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='tabby.ico')}}" >
<link rel="icon" href="{{ url_for('static', filename='tabby.ico')}}">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

<meta name="keywords" content="{{ mykeywords }}"/>
<meta name="description" content="daniela massiceti" />
<meta name="p:domain_verify" content="15f149f4e12ce0bf04ad541a6e0d8a62"/>

</head>

<body>
<div id="wrapper">
  <header id="top">
    <a href="https://scholar.google.com/citations?user=-4fo-SwAAAAJ&hl=en" target=_blank><img id="googlescholar" src="{{ url_for('static', filename='socialmediaicons/gscholar.svg')}}" width="30" height="30" title="google scholar" alt="google scholar"/></a>
    <a href="http://za.linkedin.com/pub/daniela-massiceti/66/422/425" target=_blank><img id="linkedin" src="{{ url_for('static', filename='socialmediaicons/linkedin.png')}}" width="30" height="30" title="linkedin" alt="linkedin"/></a>
    <a href="mailto:daniela.massiceti@gmail.com" target="_top"><img id="mail" src="{{ url_for('static', filename='socialmediaicons/mail_newcolour.png')}}" width="30" height="30" title="mail: daniela.massiceti@gmail.com" alt="mail"/></a>
    <a href="https://www.twitter.com/DanniMassi/" target=_blank><img id="twitter" src="{{ url_for('static', filename='socialmediaicons/twitter.png')}}" width="30" height="30" title="twitter: @dannimassi" alt="twitter"/></a>
  </header>
  
  <div id="headerimg">
    <a href="{{ url_for('home') }}">
      <div class = "h">Daniela Massiceti</div>
    </a>
    <div class ="subh"> {{ jobtitle }} </div>
  </div>
  <hr id="tophr">
  <hr id="bottomhr">
  
  <div id="mainbody">
  <ul class="img-list">
  
  <li>
    <a href="{{ url_for('static', filename='')}}{{ cv }}" target=_blank>
    <img src="{{ url_for('static', filename='homepageimages/cv.png')}}" width="300" height="300" alt=""/>
    <span class="text-content"><span>cv</span></span>
    </a>
  </li>
  
  <li>
    <a href="{{ url_for('about') }}">
      <img src="{{ url_for('static', filename='homepageimages/about.png')}}" width="300" height="300" alt=""/>
      <span class="text-content"><span>about</span></span>
    </a>
  </li>
   
  <li>
    <a href="{{ url_for('research') }}">
      <img src="{{ url_for('static', filename='homepageimages/research.png') }}" width="300" height="300" alt=""/>
      <span class="text-content"><span>research</span></span>
    </a>
  </li>
  </ul>

  <div id="recentnews">
  <h1>Recent news</h1>
  <ul id="newslist">
	  <li><b>Apr, 2020:</b> Appointed as St. Edmunds College Cambridge Postdoctoral Research Fellow</li>
	  <li><b>Feb, 2020:</b> Started as a <a href="https://www.microsoft.com/en-us/research/people/t-dmassi/" target="_blank">Researcher</a> at Microsoft Research Cambridge</li>
	  <li>Oct, 2019: Defended my <a href="https://ora.ox.ac.uk/objects/uuid:c004de16-0b4a-4d84-899a-040c8d07775e" target="_blank">D.Phil thesis</a> and passed! My examiners were <a href="https://www.robots.ox.ac.uk/~az/" target="_blank">Prof. Andrew Zisserman</a> and <a href="http://www.cs.utexas.edu/users/grauman/" target="_blank">Prof. Kristen Grauman</a></li>
	  <li><b>Sept, 2019:</b> We wrapped up the 3rd <a href="https://deeplearningindaba.com/2019/" target="_blank">Deep Learning Indaba</a> in Nairobi Kenya. I coordinated the <a href="https://deeplearningindaba.com/blog/2019/07/outcomes-of-2019-kambule-and-maathai-awards/" target="_blank"><i>Kambule and Maathai Awards</i></a> (with <a href="https://adjidieng.github.io/" target="_blank">Adji Bousso Dieng</a>), a <i>How to apply for a PhD</i> workshop (with <a href="https://laurasevilla.me/" target="_blank">Laura Sevilla-Lara</a>, <a href="https://cs.brown.edu/~gdk/" target="_blank">George Konidaris</a>), and a computer vision parallel track (with <a href="https://laurasevilla.me/" target="_blank">Laura Sevilla-Lara</a>)</li>
	  <li><b>Aug, 2019:</b> Finished a 3-month machine learning internship at Microsoft Research Cambridge. I worked with <a href="https://www.microsoft.com/en-us/research/people/cecilym/" target="_blank">Cecily Morrison</a>, <a href="https://www.tschiatschek.net/" target="_blank">Sebastian Tschiatschek</a> and <a href="https://khofm.wordpress.com/" target="_blank">Katja Hofmann</a></li>
	  <li><b>May, 2019:</b> Submitted my D.Phil thesis <i><a href="https://ora.ox.ac.uk/objects/uuid:c004de16-0b4a-4d84-899a-040c8d07775e" target="_blank">Computer vision and natural language processing for people with vision impairment</a></i></li>
  </ul>
  </div>

  </div>
  <div id="footerwrapper"> 
	<div id="email"> daniela_dot_massiceti_at_gmail_dot_com </div>
  <img src="{{ url_for('static', filename='robotgirl.png') }}" alt=""/>
  </div>
  </div>
</div>
</body>
</html>
